services:
  oracle:
    image: gvenzl/oracle-free:23-slim
    
    container_name: oracle-db-app
    ports:
      - "1521:1521"
      - "5500:5500"

    environment:
      ORACLE_PASSWORD: root
      ORACLE_DATABASE: wandoor_db
      APP_USER: wandoor
      APP_USER_PASSWORD: root

    volumes:
      - oracle-data:/opt/oracle/oradata

    networks:
      - wandoor-network

    healthcheck:
      test: ["CMD-SHELL", "echo 'SELECT 1 FROM dual;' | sqlplus -s system/root@//localhost:1521/XEPDB1 || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 10
      start_period: 30s

  redis:
    image: redis:7.2-alpine
    container_name: redis-server
    ports:
      - "6379:6379"
    command: ["redis-server", "--requirepass", "rediswandoor"]
    volumes:
      - redis-data:/data
    restart: always

networks:
  wandoor-network:
    driver: bridge

volumes:
  oracle-data:
  redis-data:
