<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>Asia/Jakarta</timeZone>
                </timestamp>
                <pattern>
                    <pattern>
                        {
                            "level": "%level",
                            "logger": "%logger{36}",
                            "message": "%message",
                            "traceId": "%X{traceId:-}",
                            "spanId": "%X{spanId:-}",
                            "thread": "%thread",
                            "context": "%mdc",
                            "stack_trace": "%ex{full}"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="JSON_CONSOLE" />
    </root>

    <logger name="com.wandoor" level="DEBUG" />
    <logger name="org.springframework" level="WARN" />


</configuration>
