name: CI/CD for Spring Boot Docker App

on:
  push:
    branches: ["ci/adam/setup-github-action"] # Ganti dengan nama branch yang Anda gunakan untuk production, misalnya 'main' atau 'master'
  pull_request:
    branches: ["ci/adam/setup-github-action"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checkout repository
      - name: Checkout code
        uses:
          actions/checkout@v3

          # Setup JDK untuk build aplikasi Spring Boot
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: "17"
          distribution: "zulu" # Gunakan 'openjdk' atau 'zulu' jika Anda menghadapi masalah dengan 'adoptopenjdk'

      # Memberikan izin eksekusi pada gradlew
      - name: Give execute permission to gradlew
        run: chmod +x ./gradlew

      # Build dengan Gradle
      - name: Build with Gradle
        run: ./gradlew clean build -x test # Skip test jika perlu

      # - name: Build Docker Image
      #   run: docker build -t wanndirection/wanndirection/testingci-be:backend-latest
      # Build Docker image

      # Log in to DockerHub (pastikan Anda sudah menyimpan DockerHub secrets di GitHub)
      - name: Log in to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: jrtr1/wandoor-backend-app:backend-latest

      # Push Docker image ke Docker Hub
      # - name: Push Docker image to DockerHub
      #   run: docker push wanndirection/testingci-be:backend-latest
